In [10]:
import pandas as pd
import numpy as np
from scipy.stats import logistic

from py_scripts.add_correlated_data import *
from py_scripts.add_data import *
from py_scripts.define_data import *
from py_scripts.generate_data import *
from py_scripts.generate_dist import *
from py_scripts.group_data import *
from py_scripts.utility import *

In [11]:
d1 = defData(varname = "rx", formula = "1,1", dist = "trtAssign")
d1 = defData(d1, varname = "z", formula = "0 - 1.2*rx", dist = "nonrandom")

dd = genData(1000, d1)

baseprobs = [.4, .3, .2, .1]
npAdj = [0, 1, 0, 0]

# dn = genOrdCat(
dt, catVar, assignGrp = genOrdCat(
dtName = dd, adjVar = "z",
baseprobs = baseprobs,
npVar = "rx", npAdj = npAdj
)

      id  rx    z
0      0   1 -1.2
1      1   1 -1.2
2      2   1 -1.2
3      3   0  0.0
4      4   0  0.0
..   ...  ..  ...
995  995   0  0.0
996  996   1 -1.2
997  997   1 -1.2
998  998   0  0.0
999  999   0  0.0

[1000 rows x 3 columns]

In [16]:
data=dict(
                            id = dt['id'].values,
                            var = catVar,
                            cat = assignGrp
            )

In [18]:
pd.DataFrame(data)

ValueError: Per-column arrays must each be 1-dimensional

In [3]:
len(np.array([baseprobs]).shape)

2

In [19]:
dT = genData(1000)

baseprobs = [
    [ 0.2, 0.1, 0.1, 0.6],
    [0.7, 0.2, 0.1, 0],
    [0.5, 0.2, 0.3, 0],
    [0.4, 0.2, 0.4, 0],
    [0.6, 0.2, 0.2, 0]
]

# dX = genOrdCat(dT,
dt, catVar, assignGrp = genOrdCat(dT,
adjVar = None, baseprobs = baseprobs,
 prefix = "q", rho = .125, corstr = "cs", asFactor = False,
)

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[1000 rows x 0 columns]

In [4]:
dcat = pd.concat(dX)

In [6]:
pd.pivot(dcat, index = 'id', columns = 'var', values= 'cat')

var  q_1  q_2  q_3  q_4  q_5
id
0      0    1    1    2    0
1      3    0    0    1    0
2      3    0    2    1    2
3      3    1    1    2    0
4      3    0    0    1    0
..   ...  ...  ...  ...  ...
995    3    1    0    0    0
996    1    0    0    0    0
997    0    0    1    0    2
998    1    0    0    1    0
999    3    0    2    2    1

[1000 rows x 5 columns]

In [52]:
np.apply_along_axis(lambda x: logistic.ppf(x), 1, s).reshape(4,5).T

array([[-1.38629436, -0.84729786, -0.40546511,         inf],
       [ 0.84729786,  2.19722458, 36.73680057, 36.73680057],
       [ 0.        ,  0.84729786,         inf,         inf],
       [-0.40546511,  0.40546511,         inf,         inf],
       [ 0.40546511,  1.38629436,         inf,         inf]])

In [41]:
pd.DataFrame(s).apply(lambda row: logistic.ppf(row), axis = 1)

0    [-1.3862943611198906, 0.8472978603872034, 0.0,...
1    [-0.8472978603872034, 2.1972245773362182, 0.84...
2    [-0.4054651081081643, 36.7368005696771, inf, i...
3               [inf, 36.7368005696771, inf, inf, inf]
dtype: object

In [46]:
[logistic.ppf(row) for row in s]).T

AttributeError: 'list' object has no attribute 'T'

In [16]:
s[0]

matrix([[0.2, 0.7, 0.5, 0.4, 0.6]])

In [8]:
a = np.array([1,2])
len(a)

2

In [5]:
["ind", "cs", "ar1"] 'ar1'

TypeError: 'in <string>' requires string as left operand, not list

In [7]:
d1 = defData(varname = "rx", formula = "1,1", dist = "trtAssign")
d1 = defData(d1, varname = "z", formula = "0 - 1.2*rx", dist = "nonrandom")

dd = genData(1000, d1)

baseprobs = [.4, .3, .2, .1]
npAdj = [0, 1, 0, 0]

dn = genOrdCat(
  dtName = dd, adjVar = "z",
  baseprobs = baseprobs,
  npVar = "rx", npAdj = npAdj
)
dn

NameError: name 'trtAssign' is not defined

In [3]:
genFormula([.5, 2, 4], ["A", "B"])

'0.5 + 2*A+4*B'

In [2]:
df = defData(varname = "x1", formula = .5, dist = "binary")
df = defData(df, varname = "x2", formula = .5, dist = "binary")
df = defData(df, varname = "grp", formula = .5, dist = "binary")

dtSurv = genData(300, df)

sdef = defSurv(
   varname = "survTime", formula = "1.5*x1",
   scale = "grp*50 + (1-grp)*25", shape = "grp*1 + (1-grp)*1.5"
 )

sdef = defSurv(sdef, varname = "censorTime", scale = 80, shape = 1)
# sdef = defSurv(sdef, varname = "censorTime", scale = 82, shape = 1)

In [5]:
dtSurv

      id  x1  x2  grp
0      0   0   0    1
1      1   1   1    1
2      2   1   0    0
3      3   1   1    1
4      4   1   0    0
..   ...  ..  ..  ...
295  295   1   1    1
296  296   0   1    0
297  297   0   1    1
298  298   1   0    0
299  299   1   1    0

[300 rows x 4 columns]

In [4]:
survDefs

      varname formula                scale                shape  transition
0    survTime  1.5*x1  grp*50 + (1-grp)*25  grp*1 + (1-grp)*1.5           0
0  censorTime       0                   80                    1           0

In [67]:
events = survDefs['varname'].unique()
nlogu = np.log(np.random.uniform(low=0, high=1, size=dtSurv.shape[0]))

In [68]:
i = 1
subDef = survDefs[survDefs['varname'] == events[i]]

In [69]:
subDef

      varname formula scale shape  transition
0  censorTime       0    80     1           0

In [70]:
scale, _ = evalWith(formula=subDef['scale'].iloc[0], dtSim=dtSurv)
shape, _ = evalWith(formula=subDef['shape'].iloc[0], dtSim=dtSurv)
form1, _ = evalWith(formula=subDef['formula'].iloc[0], dtSim=dtSurv)

In [77]:
form1

0.0